src/main/java/no/clarino/pid/nb/urn/wsdl/ws.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b21  svn-revision#12959. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://nb.no/idservice/v1.0/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="http://nb.no/idservice/v1.0/" name="IdService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://nb.no/idservice/v1.0/" schemaLocation="http://www.nb.no:80/idtjeneste/ws?xsd=1"/>
    </xsd:schema>
  </types>
  <message name="addURL">
    <part name="parameters" element="tns:addURL"/>
  </message>
  <message name="addURLResponse">
    <part name="parameters" element="tns:addURLResponse"/>
  </message>
  <message name="MalformedURNException">
    <part name="fault" element="tns:MalformedURNException"/>
  </message>
  <message name="MalformedURLException">
    <part name="fault" element="tns:MalformedURLException"/>
  </message>
  <message name="ObjectAlreadyExistsException">
    <part name="fault" element="tns:ObjectAlreadyExistsException"/>
  </message>
  <message name="InsufficientRightsException">
    <part name="fault" element="tns:InsufficientRightsException"/>
  </message>
  <message name="InvalidURLException">
    <part name="fault" element="tns:InvalidURLException"/>
  </message>
  <message name="URNNotFoundException">
    <part name="fault" element="tns:URNNotFoundException"/>
  </message>
  <message name="FailedLoginException">
    <part name="fault" element="tns:FailedLoginException"/>
  </message>
  <message name="registerURN">
    <part name="parameters" element="tns:registerURN"/>
  </message>
  <message name="registerURNResponse">
    <part name="parameters" element="tns:registerURNResponse"/>
  </message>
  <message name="IllegalActionException">
    <part name="fault" element="tns:IllegalActionException"/>
  </message>
  <message name="URNSeriesNotFoundException">
    <part name="fault" element="tns:URNSeriesNotFoundException"/>
  </message>
  <message name="deleteURL">
    <part name="parameters" element="tns:deleteURL"/>
  </message>
  <message name="deleteURLResponse">
    <part name="parameters" element="tns:deleteURLResponse"/>
  </message>
  <message name="TooFewURLsException">
    <part name="fault" element="tns:TooFewURLsException"/>
  </message>
  <message name="URLNotFoundException">
    <part name="fault" element="tns:URLNotFoundException"/>
  </message>
  <message name="reserveNextURN">
    <part name="parameters" element="tns:reserveNextURN"/>
  </message>
  <message name="reserveNextURNResponse">
    <part name="parameters" element="tns:reserveNextURNResponse"/>
  </message>
  <message name="MalformedURNSeriesCodeException">
    <part name="fault" element="tns:MalformedURNSeriesCodeException"/>
  </message>
  <message name="replaceURL">
    <part name="parameters" element="tns:replaceURL"/>
  </message>
  <message name="replaceURLResponse">
    <part name="parameters" element="tns:replaceURLResponse"/>
  </message>
  <message name="setDefaultURL">
    <part name="parameters" element="tns:setDefaultURL"/>
  </message>
  <message name="setDefaultURLResponse">
    <part name="parameters" element="tns:setDefaultURLResponse"/>
  </message>
  <message name="findURNsForURL">
    <part name="parameters" element="tns:findURNsForURL"/>
  </message>
  <message name="findURNsForURLResponse">
    <part name="parameters" element="tns:findURNsForURLResponse"/>
  </message>
  <message name="login">
    <part name="parameters" element="tns:login"/>
  </message>
  <message name="loginResponse">
    <part name="parameters" element="tns:loginResponse"/>
  </message>
  <message name="logout">
    <part name="SSOToken" element="tns:SSOToken"/>
  </message>
  <message name="findURN">
    <part name="parameters" element="tns:findURN"/>
  </message>
  <message name="findURNResponse">
    <part name="parameters" element="tns:findURNResponse"/>
  </message>
  <message name="getNextURN">
    <part name="parameters" element="tns:getNextURN"/>
  </message>
  <message name="getNextURNResponse">
    <part name="parameters" element="tns:getNextURNResponse"/>
  </message>
  <message name="createURN">
    <part name="parameters" element="tns:createURN"/>
  </message>
  <message name="createURNResponse">
    <part name="parameters" element="tns:createURNResponse"/>
  </message>
  <message name="reserveURN">
    <part name="parameters" element="tns:reserveURN"/>
  </message>
  <message name="reserveURNResponse">
    <part name="parameters" element="tns:reserveURNResponse"/>
  </message>
  <portType name="IdService">
    <operation name="addURL">
      <input wsam:Action="http://nb.no/idservice/v1.0/IdService/addURLRequest" message="tns:addURL"/>
      <output wsam:Action="http://nb.no/idservice/v1.0/IdService/addURLResponse" message="tns:addURLResponse"/>
      <fault message="tns:MalformedURNException" name="MalformedURNException" wsam:Action="http://nb.no/idservice/v1.0/IdService/addURL/Fault/MalformedURNException"/>
      <fault message="tns:MalformedURLException" name="MalformedURLException" wsam:Action="http://nb.no/idservice/v1.0/IdService/addURL/Fault/MalformedURLException"/>
      <fault message="tns:ObjectAlreadyExistsException" name="ObjectAlreadyExistsException" wsam:Action="http://nb.no/idservice/v1.0/IdService/addURL/Fault/ObjectAlreadyExistsException"/>
      <fault message="tns:InsufficientRightsException" name="InsufficientRightsException" wsam:Action="http://nb.no/idservice/v1.0/IdService/addURL/Fault/InsufficientRightsException"/>
      <fault message="tns:InvalidURLException" name="InvalidURLException" wsam:Action="http://nb.no/idservice/v1.0/IdService/addURL/Fault/InvalidURLException"/>
      <fault message="tns:URNNotFoundException" name="URNNotFoundException" wsam:Action="http://nb.no/idservice/v1.0/IdService/addURL/Fault/URNNotFoundException"/>
      <fault message="tns:FailedLoginException" name="FailedLoginException" wsam:Action="http://nb.no/idservice/v1.0/IdService/addURL/Fault/FailedLoginException"/>
    </operation>
    <operation name="registerURN">
      <input wsam:Action="http://nb.no/idservice/v1.0/IdService/registerURNRequest" message="tns:registerURN"/>
      <output wsam:Action="http://nb.no/idservice/v1.0/IdService/registerURNResponse" message="tns:registerURNResponse"/>
      <fault message="tns:MalformedURNException" name="MalformedURNException" wsam:Action="http://nb.no/idservice/v1.0/IdService/registerURN/Fault/MalformedURNException"/>
      <fault message="tns:MalformedURLException" name="MalformedURLException" wsam:Action="http://nb.no/idservice/v1.0/IdService/registerURN/Fault/MalformedURLException"/>
      <fault message="tns:FailedLoginException" name="FailedLoginException" wsam:Action="http://nb.no/idservice/v1.0/IdService/registerURN/Fault/FailedLoginException"/>
      <fault message="tns:IllegalActionException" name="IllegalActionException" wsam:Action="http://nb.no/idservice/v1.0/IdService/registerURN/Fault/IllegalActionException"/>
      <fault message="tns:ObjectAlreadyExistsException" name="ObjectAlreadyExistsException" wsam:Action="http://nb.no/idservice/v1.0/IdService/registerURN/Fault/ObjectAlreadyExistsException"/>
      <fault message="tns:URNSeriesNotFoundException" name="URNSeriesNotFoundException" wsam:Action="http://nb.no/idservice/v1.0/IdService/registerURN/Fault/URNSeriesNotFoundException"/>
      <fault message="tns:InsufficientRightsException" name="InsufficientRightsException" wsam:Action="http://nb.no/idservice/v1.0/IdService/registerURN/Fault/InsufficientRightsException"/>
      <fault message="tns:InvalidURLException" name="InvalidURLException" wsam:Action="http://nb.no/idservice/v1.0/IdService/registerURN/Fault/InvalidURLException"/>
    </operation>
    <operation name="deleteURL">
      <input wsam:Action="http://nb.no/idservice/v1.0/IdService/deleteURLRequest" message="tns:deleteURL"/>
      <output wsam:Action="http://nb.no/idservice/v1.0/IdService/deleteURLResponse" message="tns:deleteURLResponse"/>
      <fault message="tns:MalformedURNException" name="MalformedURNException" wsam:Action="http://nb.no/idservice/v1.0/IdService/deleteURL/Fault/MalformedURNException"/>
      <fault message="tns:MalformedURLException" name="MalformedURLException" wsam:Action="http://nb.no/idservice/v1.0/IdService/deleteURL/Fault/MalformedURLException"/>
      <fault message="tns:FailedLoginException" name="FailedLoginException" wsam:Action="http://nb.no/idservice/v1.0/IdService/deleteURL/Fault/FailedLoginException"/>
      <fault message="tns:TooFewURLsException" name="TooFewURLsException" wsam:Action="http://nb.no/idservice/v1.0/IdService/deleteURL/Fault/TooFewURLsException"/>
      <fault message="tns:InsufficientRightsException" name="InsufficientRightsException" wsam:Action="http://nb.no/idservice/v1.0/IdService/deleteURL/Fault/InsufficientRightsException"/>
      <fault message="tns:URNNotFoundException" name="URNNotFoundException" wsam:Action="http://nb.no/idservice/v1.0/IdService/deleteURL/Fault/URNNotFoundException"/>
      <fault message="tns:URLNotFoundException" name="URLNotFoundException" wsam:Action="http://nb.no/idservice/v1.0/IdService/deleteURL/Fault/URLNotFoundException"/>
    </operation>
    <operation name="reserveNextURN">
      <input wsam:Action="http://nb.no/idservice/v1.0/IdService/reserveNextURNRequest" message="tns:reserveNextURN"/>
      <output wsam:Action="http://nb.no/idservice/v1.0/IdService/reserveNextURNResponse" message="tns:reserveNextURNResponse"/>
      <fault message="tns:FailedLoginException" name="FailedLoginException" wsam:Action="http://nb.no/idservice/v1.0/IdService/reserveNextURN/Fault/FailedLoginException"/>
      <fault message="tns:MalformedURNSeriesCodeException" name="MalformedURNSeriesCodeException" wsam:Action="http://nb.no/idservice/v1.0/IdService/reserveNextURN/Fault/MalformedURNSeriesCodeException"/>
      <fault message="tns:IllegalActionException" name="IllegalActionException" wsam:Action="http://nb.no/idservice/v1.0/IdService/reserveNextURN/Fault/IllegalActionException"/>
      <fault message="tns:URNSeriesNotFoundException" name="URNSeriesNotFoundException" wsam:Action="http://nb.no/idservice/v1.0/IdService/reserveNextURN/Fault/URNSeriesNotFoundException"/>
      <fault message="tns:InsufficientRightsException" name="InsufficientRightsException" wsam:Action="http://nb.no/idservice/v1.0/IdService/reserveNextURN/Fault/InsufficientRightsException"/>
    </operation>
    <operation name="replaceURL">
      <input wsam:Action="http://nb.no/idservice/v1.0/IdService/replaceURLRequest" message="tns:replaceURL"/>
      <output wsam:Action="http://nb.no/idservice/v1.0/IdService/replaceURLResponse" message="tns:replaceURLResponse"/>
      <fault message="tns:FailedLoginException" name="FailedLoginException" wsam:Action="http://nb.no/idservice/v1.0/IdService/replaceURL/Fault/FailedLoginException"/>
      <fault message="tns:MalformedURNException" name="MalformedURNException" wsam:Action="http://nb.no/idservice/v1.0/IdService/replaceURL/Fault/MalformedURNException"/>
      <fault message="tns:MalformedURLException" name="MalformedURLException" wsam:Action="http://nb.no/idservice/v1.0/IdService/replaceURL/Fault/MalformedURLException"/>
      <fault message="tns:ObjectAlreadyExistsException" name="ObjectAlreadyExistsException" wsam:Action="http://nb.no/idservice/v1.0/IdService/replaceURL/Fault/ObjectAlreadyExistsException"/>
      <fault message="tns:InsufficientRightsException" name="InsufficientRightsException" wsam:Action="http://nb.no/idservice/v1.0/IdService/replaceURL/Fault/InsufficientRightsException"/>
      <fault message="tns:InvalidURLException" name="InvalidURLException" wsam:Action="http://nb.no/idservice/v1.0/IdService/replaceURL/Fault/InvalidURLException"/>
      <fault message="tns:URNNotFoundException" name="URNNotFoundException" wsam:Action="http://nb.no/idservice/v1.0/IdService/replaceURL/Fault/URNNotFoundException"/>
      <fault message="tns:URLNotFoundException" name="URLNotFoundException" wsam:Action="http://nb.no/idservice/v1.0/IdService/replaceURL/Fault/URLNotFoundException"/>
    </operation>
    <operation name="setDefaultURL">
      <input wsam:Action="http://nb.no/idservice/v1.0/IdService/setDefaultURLRequest" message="tns:setDefaultURL"/>
      <output wsam:Action="http://nb.no/idservice/v1.0/IdService/setDefaultURLResponse" message="tns:setDefaultURLResponse"/>
      <fault message="tns:FailedLoginException" name="FailedLoginException" wsam:Action="http://nb.no/idservice/v1.0/IdService/setDefaultURL/Fault/FailedLoginException"/>
      <fault message="tns:MalformedURNException" name="MalformedURNException" wsam:Action="http://nb.no/idservice/v1.0/IdService/setDefaultURL/Fault/MalformedURNException"/>
      <fault message="tns:MalformedURLException" name="MalformedURLException" wsam:Action="http://nb.no/idservice/v1.0/IdService/setDefaultURL/Fault/MalformedURLException"/>
      <fault message="tns:InsufficientRightsException" name="InsufficientRightsException" wsam:Action="http://nb.no/idservice/v1.0/IdService/setDefaultURL/Fault/InsufficientRightsException"/>
      <fault message="tns:URNNotFoundException" name="URNNotFoundException" wsam:Action="http://nb.no/idservice/v1.0/IdService/setDefaultURL/Fault/URNNotFoundException"/>
      <fault message="tns:URLNotFoundException" name="URLNotFoundException" wsam:Action="http://nb.no/idservice/v1.0/IdService/setDefaultURL/Fault/URLNotFoundException"/>
    </operation>
    <operation name="findURNsForURL">
      <input wsam:Action="http://nb.no/idservice/v1.0/IdService/findURNsForURLRequest" message="tns:findURNsForURL"/>
      <output wsam:Action="http://nb.no/idservice/v1.0/IdService/findURNsForURLResponse" message="tns:findURNsForURLResponse"/>
      <fault message="tns:MalformedURLException" name="MalformedURLException" wsam:Action="http://nb.no/idservice/v1.0/IdService/findURNsForURL/Fault/MalformedURLException"/>
    </operation>
    <operation name="login">
      <input wsam:Action="http://nb.no/idservice/v1.0/IdService/loginRequest" message="tns:login"/>
      <output wsam:Action="http://nb.no/idservice/v1.0/IdService/loginResponse" message="tns:loginResponse"/>
      <fault message="tns:FailedLoginException" name="FailedLoginException" wsam:Action="http://nb.no/idservice/v1.0/IdService/login/Fault/FailedLoginException"/>
    </operation>
    <operation name="logout">
      <input wsam:Action="http://nb.no/idservice/v1.0/IdService/logout" message="tns:logout"/>
    </operation>
    <operation name="findURN">
      <input wsam:Action="http://nb.no/idservice/v1.0/IdService/findURNRequest" message="tns:findURN"/>
      <output wsam:Action="http://nb.no/idservice/v1.0/IdService/findURNResponse" message="tns:findURNResponse"/>
      <fault message="tns:MalformedURNException" name="MalformedURNException" wsam:Action="http://nb.no/idservice/v1.0/IdService/findURN/Fault/MalformedURNException"/>
      <fault message="tns:URNNotFoundException" name="URNNotFoundException" wsam:Action="http://nb.no/idservice/v1.0/IdService/findURN/Fault/URNNotFoundException"/>
    </operation>
    <operation name="getNextURN">
      <input wsam:Action="http://nb.no/idservice/v1.0/IdService/getNextURNRequest" message="tns:getNextURN"/>
      <output wsam:Action="http://nb.no/idservice/v1.0/IdService/getNextURNResponse" message="tns:getNextURNResponse"/>
      <fault message="tns:FailedLoginException" name="FailedLoginException" wsam:Action="http://nb.no/idservice/v1.0/IdService/getNextURN/Fault/FailedLoginException"/>
      <fault message="tns:IllegalActionException" name="IllegalActionException" wsam:Action="http://nb.no/idservice/v1.0/IdService/getNextURN/Fault/IllegalActionException"/>
      <fault message="tns:URNSeriesNotFoundException" name="URNSeriesNotFoundException" wsam:Action="http://nb.no/idservice/v1.0/IdService/getNextURN/Fault/URNSeriesNotFoundException"/>
      <fault message="tns:InsufficientRightsException" name="InsufficientRightsException" wsam:Action="http://nb.no/idservice/v1.0/IdService/getNextURN/Fault/InsufficientRightsException"/>
    </operation>
    <operation name="createURN">
      <input wsam:Action="http://nb.no/idservice/v1.0/IdService/createURNRequest" message="tns:createURN"/>
      <output wsam:Action="http://nb.no/idservice/v1.0/IdService/createURNResponse" message="tns:createURNResponse"/>
      <fault message="tns:MalformedURLException" name="MalformedURLException" wsam:Action="http://nb.no/idservice/v1.0/IdService/createURN/Fault/MalformedURLException"/>
      <fault message="tns:FailedLoginException" name="FailedLoginException" wsam:Action="http://nb.no/idservice/v1.0/IdService/createURN/Fault/FailedLoginException"/>
      <fault message="tns:ObjectAlreadyExistsException" name="ObjectAlreadyExistsException" wsam:Action="http://nb.no/idservice/v1.0/IdService/createURN/Fault/ObjectAlreadyExistsException"/>
      <fault message="tns:URNSeriesNotFoundException" name="URNSeriesNotFoundException" wsam:Action="http://nb.no/idservice/v1.0/IdService/createURN/Fault/URNSeriesNotFoundException"/>
      <fault message="tns:InsufficientRightsException" name="InsufficientRightsException" wsam:Action="http://nb.no/idservice/v1.0/IdService/createURN/Fault/InsufficientRightsException"/>
      <fault message="tns:IllegalActionException" name="IllegalActionException" wsam:Action="http://nb.no/idservice/v1.0/IdService/createURN/Fault/IllegalActionException"/>
      <fault message="tns:InvalidURLException" name="InvalidURLException" wsam:Action="http://nb.no/idservice/v1.0/IdService/createURN/Fault/InvalidURLException"/>
    </operation>
    <operation name="reserveURN">
      <input wsam:Action="http://nb.no/idservice/v1.0/IdService/reserveURNRequest" message="tns:reserveURN"/>
      <output wsam:Action="http://nb.no/idservice/v1.0/IdService/reserveURNResponse" message="tns:reserveURNResponse"/>
      <fault message="tns:MalformedURNException" name="MalformedURNException" wsam:Action="http://nb.no/idservice/v1.0/IdService/reserveURN/Fault/MalformedURNException"/>
      <fault message="tns:FailedLoginException" name="FailedLoginException" wsam:Action="http://nb.no/idservice/v1.0/IdService/reserveURN/Fault/FailedLoginException"/>
      <fault message="tns:ObjectAlreadyExistsException" name="ObjectAlreadyExistsException" wsam:Action="http://nb.no/idservice/v1.0/IdService/reserveURN/Fault/ObjectAlreadyExistsException"/>
      <fault message="tns:URNSeriesNotFoundException" name="URNSeriesNotFoundException" wsam:Action="http://nb.no/idservice/v1.0/IdService/reserveURN/Fault/URNSeriesNotFoundException"/>
      <fault message="tns:InsufficientRightsException" name="InsufficientRightsException" wsam:Action="http://nb.no/idservice/v1.0/IdService/reserveURN/Fault/InsufficientRightsException"/>
      <fault message="tns:IllegalActionException" name="IllegalActionException" wsam:Action="http://nb.no/idservice/v1.0/IdService/reserveURN/Fault/IllegalActionException"/>
    </operation>
  </portType>
  <binding name="IdServiceSOAP11PortBinding" type="tns:IdService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="addURL">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="MalformedURNException">
        <soap:fault name="MalformedURNException" use="literal"/>
      </fault>
      <fault name="MalformedURLException">
        <soap:fault name="MalformedURLException" use="literal"/>
      </fault>
      <fault name="ObjectAlreadyExistsException">
        <soap:fault name="ObjectAlreadyExistsException" use="literal"/>
      </fault>
      <fault name="InsufficientRightsException">
        <soap:fault name="InsufficientRightsException" use="literal"/>
      </fault>
      <fault name="InvalidURLException">
        <soap:fault name="InvalidURLException" use="literal"/>
      </fault>
      <fault name="URNNotFoundException">
        <soap:fault name="URNNotFoundException" use="literal"/>
      </fault>
      <fault name="FailedLoginException">
        <soap:fault name="FailedLoginException" use="literal"/>
      </fault>
    </operation>
    <operation name="registerURN">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="MalformedURNException">
        <soap:fault name="MalformedURNException" use="literal"/>
      </fault>
      <fault name="MalformedURLException">
        <soap:fault name="MalformedURLException" use="literal"/>
      </fault>
      <fault name="FailedLoginException">
        <soap:fault name="FailedLoginException" use="literal"/>
      </fault>
      <fault name="IllegalActionException">
        <soap:fault name="IllegalActionException" use="literal"/>
      </fault>
      <fault name="ObjectAlreadyExistsException">
        <soap:fault name="ObjectAlreadyExistsException" use="literal"/>
      </fault>
      <fault name="URNSeriesNotFoundException">
        <soap:fault name="URNSeriesNotFoundException" use="literal"/>
      </fault>
      <fault name="InsufficientRightsException">
        <soap:fault name="InsufficientRightsException" use="literal"/>
      </fault>
      <fault name="InvalidURLException">
        <soap:fault name="InvalidURLException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteURL">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="MalformedURNException">
        <soap:fault name="MalformedURNException" use="literal"/>
      </fault>
      <fault name="MalformedURLException">
        <soap:fault name="MalformedURLException" use="literal"/>
      </fault>
      <fault name="FailedLoginException">
        <soap:fault name="FailedLoginException" use="literal"/>
      </fault>
      <fault name="TooFewURLsException">
        <soap:fault name="TooFewURLsException" use="literal"/>
      </fault>
      <fault name="InsufficientRightsException">
        <soap:fault name="InsufficientRightsException" use="literal"/>
      </fault>
      <fault name="URNNotFoundException">
        <soap:fault name="URNNotFoundException" use="literal"/>
      </fault>
      <fault name="URLNotFoundException">
        <soap:fault name="URLNotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="reserveNextURN">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FailedLoginException">
        <soap:fault name="FailedLoginException" use="literal"/>
      </fault>
      <fault name="MalformedURNSeriesCodeException">
        <soap:fault name="MalformedURNSeriesCodeException" use="literal"/>
      </fault>
      <fault name="IllegalActionException">
        <soap:fault name="IllegalActionException" use="literal"/>
      </fault>
      <fault name="URNSeriesNotFoundException">
        <soap:fault name="URNSeriesNotFoundException" use="literal"/>
      </fault>
      <fault name="InsufficientRightsException">
        <soap:fault name="InsufficientRightsException" use="literal"/>
      </fault>
    </operation>
    <operation name="replaceURL">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FailedLoginException">
        <soap:fault name="FailedLoginException" use="literal"/>
      </fault>
      <fault name="MalformedURNException">
        <soap:fault name="MalformedURNException" use="literal"/>
      </fault>
      <fault name="MalformedURLException">
        <soap:fault name="MalformedURLException" use="literal"/>
      </fault>
      <fault name="ObjectAlreadyExistsException">
        <soap:fault name="ObjectAlreadyExistsException" use="literal"/>
      </fault>
      <fault name="InsufficientRightsException">
        <soap:fault name="InsufficientRightsException" use="literal"/>
      </fault>
      <fault name="InvalidURLException">
        <soap:fault name="InvalidURLException" use="literal"/>
      </fault>
      <fault name="URNNotFoundException">
        <soap:fault name="URNNotFoundException" use="literal"/>
      </fault>
      <fault name="URLNotFoundException">
        <soap:fault name="URLNotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="setDefaultURL">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FailedLoginException">
        <soap:fault name="FailedLoginException" use="literal"/>
      </fault>
      <fault name="MalformedURNException">
        <soap:fault name="MalformedURNException" use="literal"/>
      </fault>
      <fault name="MalformedURLException">
        <soap:fault name="MalformedURLException" use="literal"/>
      </fault>
      <fault name="InsufficientRightsException">
        <soap:fault name="InsufficientRightsException" use="literal"/>
      </fault>
      <fault name="URNNotFoundException">
        <soap:fault name="URNNotFoundException" use="literal"/>
      </fault>
      <fault name="URLNotFoundException">
        <soap:fault name="URLNotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="findURNsForURL">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="MalformedURLException">
        <soap:fault name="MalformedURLException" use="literal"/>
      </fault>
    </operation>
    <operation name="login">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FailedLoginException">
        <soap:fault name="FailedLoginException" use="literal"/>
      </fault>
    </operation>
    <operation name="logout">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="findURN">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="MalformedURNException">
        <soap:fault name="MalformedURNException" use="literal"/>
      </fault>
      <fault name="URNNotFoundException">
        <soap:fault name="URNNotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="getNextURN">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FailedLoginException">
        <soap:fault name="FailedLoginException" use="literal"/>
      </fault>
      <fault name="IllegalActionException">
        <soap:fault name="IllegalActionException" use="literal"/>
      </fault>
      <fault name="URNSeriesNotFoundException">
        <soap:fault name="URNSeriesNotFoundException" use="literal"/>
      </fault>
      <fault name="InsufficientRightsException">
        <soap:fault name="InsufficientRightsException" use="literal"/>
      </fault>
    </operation>
    <operation name="createURN">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="MalformedURLException">
        <soap:fault name="MalformedURLException" use="literal"/>
      </fault>
      <fault name="FailedLoginException">
        <soap:fault name="FailedLoginException" use="literal"/>
      </fault>
      <fault name="ObjectAlreadyExistsException">
        <soap:fault name="ObjectAlreadyExistsException" use="literal"/>
      </fault>
      <fault name="URNSeriesNotFoundException">
        <soap:fault name="URNSeriesNotFoundException" use="literal"/>
      </fault>
      <fault name="InsufficientRightsException">
        <soap:fault name="InsufficientRightsException" use="literal"/>
      </fault>
      <fault name="IllegalActionException">
        <soap:fault name="IllegalActionException" use="literal"/>
      </fault>
      <fault name="InvalidURLException">
        <soap:fault name="InvalidURLException" use="literal"/>
      </fault>
    </operation>
    <operation name="reserveURN">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="MalformedURNException">
        <soap:fault name="MalformedURNException" use="literal"/>
      </fault>
      <fault name="FailedLoginException">
        <soap:fault name="FailedLoginException" use="literal"/>
      </fault>
      <fault name="ObjectAlreadyExistsException">
        <soap:fault name="ObjectAlreadyExistsException" use="literal"/>
      </fault>
      <fault name="URNSeriesNotFoundException">
        <soap:fault name="URNSeriesNotFoundException" use="literal"/>
      </fault>
      <fault name="InsufficientRightsException">
        <soap:fault name="InsufficientRightsException" use="literal"/>
      </fault>
      <fault name="IllegalActionException">
        <soap:fault name="IllegalActionException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="IdService">
    <port name="IdServiceSOAP11Port" binding="tns:IdServiceSOAP11PortBinding">
      <soap:address location="http://www.nb.no:80/idtjeneste/ws"/>
    </port>
  </service>
</definitions>